<div class="booyah-box col-xs-10 col-xs-offset-1">

	<h1>
		Join a Game
	</h1>

	<br />

	<% if @open_games.length == 0 %>
		<h3><em>Sorry, there are no open games.</em></h3>
	<% else %>
		<% @open_games.each do |game| %>

			<div style="padding-top:10px; padding-bottom:10px;">

				<div class="col-xs-2" style="margin-top:-20px;">
				  <h2>
				  	Game #<%= game.id %>
				  </h2>
				</div>

				<div class="col-xs-8">
				  <%= simple_form_for game do |f| %>
						<%= f.hidden_field :black_uid, :value => 2 %> <!-- UPDATE VALUE FROM '2' to 'current_user.id' -->
						<%= f.submit 'Join', :class => 'btn btn-primary' %>
					<% end %>
				</div>

			</div>

			  <div class='clear'></div>
			  <hr />
		<% end %>
	<% end %>
</div>