<div class="col-xs-10 col-xs-offset-1">

  <div class="game-container">

    <table id="board" cellpadding="0" cellspacing="0">
      <% 7.downto(0) do |row| %>
        <tr>
          <% 0.upto(7) do |col| %>
            <td id='<%= "#{col}-#{row}" %>'>
              <% @pieces.where(active: true).each do |piece| %>
                <% if piece.pos_x == col && piece.pos_y == row %>
                  <%= link_to image_tag(piece.image, class: 'img-responsive piece'), piece_path(piece), class: 'piece_a draggable', remote: true %>
                <% end %>
              <% end %><!-- end pieces.each -->
            </td>
          <% end %><!--end column-->
        </tr>
      <% end %><!--end row-->
    </table>
   
  </div>
</div>

<div class='clear'></div>

<script>
  $(function() {
     $( ".draggable" ).draggable();
     activeClass: "ui-state-highlight",
     $( "td" ).droppable({
       hoverClass: "highlight",
       drop: function( event, ui ) {
         //make piece snappable to the destination
         $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
         $.ajax( {  type: 'PUT',
                    url: $(ui.draggable).attr("href"),
                    dataType: 'json',
                    data: {
                      pos_x: this.cellIndex,
                      pos_y: (7-(this.parentNode.rowIndex))
                  }
                }).success(function(data){
                    if (data.valid === false) {
                      alert("Invalid move. Try again.");
                      window.location.reload();
                    }
                    else if (data.valid === true && data.captured === true) {
                      alert(data.not_color + " piece captured");
                      window.location.reload();
                    }
                    else if (data.valid === true) {
                      alert("It is now "+ data.not_color + " player's turn.");
                      window.location.reload();
                    }
                    else {
                      alert("Somethings broken: " + data.valid + data.not_color + data.captured + data.active);
                      window.location.reload();
                    }

                }); //post
       } //drop
     }); //droppable
   }); //function
 </script>
